@media (max-width: 500px) {
    .logoIzquierda {
        margin-top: 20px !important;
        margin-left: 7%;
    }
}

.navbar {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-weight: bolder;
    img {
        margin-top: -40px;
    }
    li {
        border: solid gray 0.5px;
        margin-right: 5px;
        height: 60px;
    }
}

.navegacion {
    height: 200px;
    background-color: #4E5A5A;
}

#nav-mobile li a:hover {
    color: #D09F23;
}

.upBar {
    margin-left: 15%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.derecha {
    text-align: right;
    /* padding-left: 55%; */
    font-weight: bold;
}

.izquierda {
    margin-left: 19%;
    font-weight: bold;
}

.sidenav {
    background-color: #1B1A1B;
}

.sidenav li a {
    color:white !important;
    font-weight: bold !important;
}

.letraNegrilla{
    font-weight: bold !important;
    color: black !important;
}

.sidenav-trigger {
    margin-left: -20%;
}