@media (max-width: 500px) {
    .logoIzquierda {
        margin-top: 20px !important;
        margin-left: 7%;
    }
}

.navbar {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-weight: bolder;
    text-transform: uppercase;
    img {
        margin-top: -40px;
    }
}

.navegacion {
    height: 200px;
    background-color: #4E5A5A;
}

.upBar {
    margin-left: 15%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.sidenav {
    background-color: #1B1A1B;
}

.sidenav li a {
    color:white !important;
    font-weight: bold !important;
}

.sidenav-trigger {
    margin-left: -20%;
}