<nav class="navegacion">
    <div class="nav-wrapper">
      <div class="upBar ">
        <div class="row hide-on-med-and-down">
          <div class="col s4 m4 l4">
            <i class="material-icons left">
              phone_in_talk
            </i>
            <label for="phone" class="hide-on-med-and-down">+57 305 778 7081</label>
          </div>
          <div class="col s4 m4 l4" style="margin-left: -50px; margin-top: 2px; color: #1877F2">
            <i class="material-icons left">
              thumb_up_alt
            </i>
            <a  class="hide-on-med-and-down"
                href="https://www.facebook.com/Nebraskabar19/" target="_blank" style="color: #1877F2">Facebook</a>
          </div>
          <div class="col s4 m4 l4">
            <i class="material-icons left" style="background: linear-gradient(#E55327, #DB1974); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text">
              favorite
            </i>
            <a href="https://www.instagram.com/bar.nebraska/" target="_blank" style="background: linear-gradient(#E55327, #DB1974); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text">Instagram</a>
          </div>
        </div>
      </div>

      <div class="navbar">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul>
              <li class="hide-on-med-and-down"><a routerLink="home">Inicio</a></li>
              <li class="hide-on-med-and-down"><a href="#ubicacion">Ubicación</a></li>
            </ul>
            <a routerLink="home">
                <img class="logoIzquierda" src="https://ik.imagekit.io/codeprojects/BarNebraska/logobrighter_pNIXg4PVA.png?tr=w-200&tr=h-200" alt="logo">
            </a>
            <ul>
                <li class="hide-on-med-and-down"><a href="#servicios">Servicios</a></li>
                <li class="hide-on-med-and-down"><a href="#contacto">Contacto</a></li>
          </ul>
      </div>
    </div>
  </nav>
  
  <!-- VISTA MOVIL -->
  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="home">Inicio</a></li>
    <li><a href="#ubicacin">Ubicación</a></li>
    <li><a href="#servicios">Nuestros Productos</a></li>
    <li><a>Tel: +57 305 778 7081</a></li>
    <li><a href="https://www.facebook.com/Nebraskabar19/" target="_blank">Facebook</a></li>
    <li><a href="https://www.instagram.com/bar.nebraska/" target="_blank">Instragram</a></li>
  </ul>
