<!--NavBar-->
<section id="inicio" style="z-index: 3 !important; position: relative;">
  <div>
    <app-navbar></app-navbar>
  </div>
</section>

<!--Sliders-->
<section id="home" class="container-fluid hide-on-med-and-down">
  <div class="carousel carousel-slider relativo hide-on-med-and-down">
    <a class="carousel-item" href="#one!">
      <img
        class="responsive-img"
        src="https://ik.imagekit.io/codeprojects/BarNebraska/carousel1_epb55-IXt.jpg?tr=w-800&tr=h-600"/>
    </a>

    <a class="carousel-item" href="#two!">
      <img
        class="responsive-img"
        src="https://ik.imagekit.io/codeprojects/BarNebraska/carousel2_suW1oZx2c.jpg?tr=w-800&tr=h-600"/>
    </a>

    <a class="carousel-item" href="#three!">
      <img
        class="responsive-img"
        src="https://ik.imagekit.io/codeprojects/BarNebraska/carousel3_9Gjye7A12w.jpg?tr=w-800&tr=h-600"/>
    </a>

  </div>

  <div class="fixed-action-btn">
    <a class="btn-floating" onclick="fabButton()">
      <i style="background: #A8CE50 !important; color: white;" class="material-icons">add</i>
    </a>
    <ul>
      <li>
        <a href="https://www.instagram.com/bar.nebraska/" target="_blank" class="btn-floating">
          <img
            width="100%"
            height="auto"
            src="https://ik.imagekit.io/codeprojects/BarNebraska/instagramRounded_Xb8H0Va1eS.png?tr=w-64&tr=h-64"
            alt="instagram"
          />
        </a>
      </li>
      <li>
        <a
          style="background: transparent;"
          href="https://www.facebook.com/Nebraskabar19/"
          target="_blank"
          class="btn-floating">
          <img
            width="100%"
            height="auto"
            src="https://ik.imagekit.io/codeprojects/BarNebraska/facebookRounded_DV8goR2Nw.png?tr=w-64&tr=h-64"
            alt="facebook"/>
        </a>
      </li>
    </ul>
  </div>
</section>

<section id="ubicacion" class="sctValores">
    <h2 style="text-align: center !important;">CONOCE NUESTRA UBICACIÓN</h2>
    <hr class="separador" />
  <div class="mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.3072916361198!2d-75.59433638590677!3d6.223151628310147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44291355c13bb7%3A0x882dfbfba35fdab1!2sBar%20Nebraska!5e0!3m2!1sen!2sco!4v1577731625983!5m2!1sen!2sco" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</section>

<section id="servicios" class="center-align" style="margin-top: -5px; ">
  <div class="">
    <h1
      class="center-align"
      style="font-size: 32px; font-weight: bold; letter-spacing: 5px; margin-bottom: 5%;">
      ¿QUÉ TENEMOS PARA OFRECERTE?
      <hr class="separador" />
    </h1>
  </div>

  <div class="center-align row">
    <div class="col s12 m12 l3">
        <div class="card cdServ">
            <div class="card-image">
                <img src="https://ik.imagekit.io/codeprojects/BarNebraska/WhatsApp_Image_2019-12-30_at_12.36.50_PM_hk7pgk_CgfNLhJPa.jpg?tr=w-200&tr=h-250">
                <span class="card-title">Ven y apoya nuestra selección</span>
            </div>
            <div class="card-content white-text">
                <p>Señal en vivo de los partidos de la selección Colombia, para que disfrutes con amigos.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l3">
        <div class="card cdServ">
            <div class="card-image">
                <img src="https://ik.imagekit.io/codeprojects/BarNebraska/WhatsApp_Image_2019-12-30_at_12.36.49_PM_bnmiuq_qYddtIY69.jpg?tr=w-200&tr=h-250">
                <span class="card-title">Que nunca falte una</span>
            </div>
            <div class="card-content white-text">
                <p>Contamos con una gran variedad de cerveza para todos los gustos.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l3">
        <div class="card cdServ">
            <div class="card-image">
                <img src="https://ik.imagekit.io/codeprojects/BarNebraska/WhatsApp_Image_2019-12-30_at_12.36.51_PM_1_kljx02_wzs2vVfh7J.jpg?tr=w-200&tr=h-250">
                <span class="card-title">Si deseas compartir una de estas.</span>
            </div>
            <div class="card-content white-text">
                <p>Ven a nuestro negocio y disfruta de los mejores tragos nacionales.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l3">
        <div class="card cdServ">
            <div class="card-image">
                <img src="https://ik.imagekit.io/codeprojects/BarNebraska/WhatsApp_Image_2019-12-30_at_12.36.51_PM_ora9ih_sQldeEiGR.jpg?tr=w-200&tr=h-250">
                <span class="card-title">Comparte momentos inolvidables</span>
            </div>
            <div class="card-content white-text">
                <p>Trae tu parche y disfruta deportes en vivo.</p>
            </div>
        </div>
    </div>
  </div>
</section>

<hr class="separador" />

<section id="newsLetter" class="center-align container-fluid">
  <div class="row">
    <div class="col s12 m4 l4 center-align" style="margin-top: 20px;">
        <a href="#inicio">
          <img src="https://ik.imagekit.io/codeprojects/BarNebraska/logobrighter_pNIXg4PVA.png?tr=w-200&tr=h-200" alt="logoNebraska" />
        </a>
    </div>
    <!-- FORMULARIO ENVIO OPINIÓN -->
  <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
    <div class="col s12 m4 l4" style="text-align: center;">
      <p style="font-weight: bold;">
        DÉJANOS SABER TU OPINIÓN <br>
        <small style="font-size: 18px">Dinos en qué podemos mejorar.</small>
      </p>
      <div class="row center-align">
        <div class="container col s12 m12 l12" style="margin-top: 30px">
          <input  class="inputUnirme"
                  type="email"
                  placeholder="Correo"
                  name="email"
                  required
                  [(ngModel)]="contact.email"
                  #email="ngModel">
          <div [hidden]="email.valid || email.pristine" class="card-panel">
            <small class="red-text text-darken-3">¡El correo es requerido!</small>
          </div>
        </div>
        <div class="container col s12 m12 l12" style="height: 100px;">
          <textarea class="areaOpinion"
                    rows="30"
                    style="height: 100px; color: white !important;"
                    type="text"
                    [(ngModel)]="contact.message"
                    placeholder="¿Cómo podemos mejorar nuestro servicio?"
                    name="message"
                    required
                    #message="ngModel">
          </textarea>
          <div [hidden]="message.valid || message.pristine" class="card-panel">
            <small class="red-text text-darken-3">¡El mensaje es requerido!</small>
          </div>
        </div>
        <div>
          <button style="margin-top: 10%;"
                  type="submit"
                  class="btnUnirme modal-trigger"
                  [disabled]="contactForm.form.invalid"
                  data-target="modal1">
            ENVIAR
          </button>
          <div id="modal1" class="modal">
            <div class="modal-content">
              <h4>Tu opinión ha sido enviada!</h4>
              <p>Gracias por ayudarnos a mejorar nuestro servicio.</p>
            </div>
            <div class="modal-footer">
              <a   class="modal-close waves-effect waves-green btn-flat">OK</a >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Structure -->
  </form>
    <div class="col s12 m4 l4 center-align">
      <p style="font-weight: bold; text-align: center;">INSTAGRAM FEED</p>
      <!-- SnapWidget -->
      <iframe src="https://snapwidget.com/embed/776221" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%; "></iframe>
    </div>
  </div>
</section>

<footer id="contacto" style="margin-top: -20px;">
  <p style="font-weight: bold; width: auto; text-align: center; font-size: small;">
    Powered by CodeScripters. &copy;
  </p>
</footer>
