<!--NavBar-->
<section id="inicio" style="z-index: 3 !important; position: relative;">
  <div>
    <app-navbar></app-navbar>
  </div>
</section>

<!--Sliders-->
<section id="home" class="container-fluid hide-on-med-and-down">
  <div class="carousel carousel-slider relativo hide-on-med-and-down">
    <a class="carousel-item" href="#one!"
      ><img
        class="responsive-img"
        src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg"
    /></a>

    <a class="carousel-item" href="#two!"
      ><img
        class="responsive-img"
        src="https://images.pexels.com/photos/2287310/pexels-photo-2287310.jpeg"
    /></a>

    <a class="carousel-item" href="#three!"
      ><img
        class="responsive-img"
        src="https://images.pexels.com/photos/987550/pexels-photo-987550.jpeg"
    /></a>

    <a class="carousel-item" href="#four!"
      ><img
        class="responsive-img"
        src="https://images.pexels.com/photos/772177/pexels-photo-772177.jpeg"
    /></a>
  </div>

  <div class="fixed-action-btn">
    <a class="btn-floating" onclick="fab()">
      <i style="background: #A8CE50; color: white;" class="material-icons"
        >add</i
      >
    </a>
    <ul>
      <li>
        <a href="https://www.instagram.com/bar.nebraska/" target="_blank" class="btn-floating">
          <img
            width="100%"
            height="auto"
            src="https://res.cloudinary.com/hrf5wsn4o/image/upload/v1577473859/BarNebraska/instagramRounded_agowvj.png"
            alt="wapp"
          />
        </a>
      </li>
      <li>
        <a
          style="background: transparent;"
          href="https://www.facebook.com/Nebraskabar19/"
          target="_blank"
          class="btn-floating"
        >
          <img
            width="100%"
            height="auto"
            src="https://res.cloudinary.com/hrf5wsn4o/image/upload/v1577473859/BarNebraska/facebookRounded_v9cda5.png"
            alt="msn"
          />
        </a>
      </li>
    </ul>
  </div>
</section>

<section id="ubicacion" class="sctValores">
    <h2 style="text-align: center !important;">CONOCE NUESTRA UBICACIÓN</h2>
    <hr class="separador" />
  <div class="mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.3073318911665!2d-75.5943363861753!3d6.223146295495149!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4429c3febb5035%3A0x931e080729b44555!2sCra.%2070%20%2319-39%2C%20Medell%C3%ADn%2C%20Antioquia!5e0!3m2!1sen!2sco!4v1577467472022!5m2!1sen!2sco" 
            width="600" 
            height="450" 
            frameborder="0" 
            style="border:0;" 
            allowfullscreen="">
    </iframe>
  </div>
</section>

<section id="servicios" class="center-align" style="margin-top: -5px; ">
  <div class="">
    <h1
      class="center-align"
      style="font-size: 32px; font-weight: bold; letter-spacing: 5px; margin-bottom: 5%;"
    >
      ¿QUÉ TENEMOS PARA OFRECERTE?
      <hr class="separador" />
    </h1>
  </div>

  <div class="center-align row">
    <div class="col s12 m12 l3">
        <div class="card cdServ">
            <div class="card-image">
                <img src="https://res.cloudinary.com/hrf5wsn4o/image/upload/v1577470273/BarNebraska/card1_b3mk5s.jpg">
                <span class="card-title">La Consentida de la Casa</span>
            </div>
            <div class="card-content white-text">
                <p>Disfruta del precio de una de las mejores cervezas del país.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l3">
        <div class="card cdServ">
            <div class="card-image">
                <img src="https://res.cloudinary.com/hrf5wsn4o/image/upload/v1577476823/BarNebraska/card4_xgrlm8.png">
                <span class="card-title">Que nunca falte una</span>
            </div>
            <div class="card-content white-text">
                <p>Disfruta del precio de una de las mejores cervezas del país.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l3">
        <div class="card cdServ">
            <div class="card-image">
                <img src="https://res.cloudinary.com/hrf5wsn4o/image/upload/v1577475796/BarNebraska/card3_pd1b0x.jpg">
                <span class="card-title">Si deseas compartir una de estas.</span>
            </div>
            <div class="card-content white-text">
                <p>Ven a nuestro negocio y disfruta de los mejores tragos internacionales.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l3">
        <div class="card cdServ">
            <div class="card-image">
                <img src="https://res.cloudinary.com/hrf5wsn4o/image/upload/v1577475796/BarNebraska/card2_k0cifj.jpg">
                <span class="card-title">Que no se nos olvide el Whisky</span>
            </div>
            <div class="card-content white-text">
                <p>De la mejor calidad.</p>
            </div>
        </div>
    </div>
  </div>
</section>

<section class="container center-align" style="margin-top: 10%; ">
  
</section>

<section id="newsLetter" class="center-align container-fluid">
  <div class="row">
    <div class="col s12 m4 l4 center-align" style="margin-top: 70px;">
        <a href="#inicio">
            <img  width="200" height="200" src="https://res.cloudinary.com/hrf5wsn4o/image/upload/v1577467171/BarNebraska/logobrighter_sxrkqs.png" alt="logoNebraska" />
        </a>
    </div>
    <div class="col s12 m4 l4" style="text-align: center;">
      <p style="font-weight: bold;">
        DÉJANOS SABER TU OPINIÓN <br>
        <small style="font-size: 18px">Dinos en qué podemos mejorar.</small>
      </p>
      <div class="row center-align">
        <div class="container col s12 m12 l12" style="margin-top: 30px">
          <input class="inputUnirme" type="text" placeholder="Correo">
        </div>
        <div class="container col s12 m12 l12" style="height: 140px;">
          <textarea class="areaOpinion" rows="30" style="height: 140px;" type="text" placeholder="¿Cómo podemos mejorar nuestro servicio?"></textarea>
        </div>
        <div>
          <button style="margin-top: 10%;" class="btnUnirme">
            ENVIAR
          </button>
        </div>
      </div>
    </div>
    <div class="col s12 m4 l4 center-align">
      <p style="font-weight: bold; text-align: center;">INSTAGRAM FEED</p>
      
    </div>
  </div>
</section>

<footer id="contacto" style="margin-top: -20px;">
  <p style="background-color: #1B1A1B; color: #807F80; font-weight: bold; width: auto;">
    Powered by CodeScripters. &copy;
  </p>
</footer>
