@media (max-width: 500px) {
    .cdServ {
        height: 550px !important;
        // background: transparent !important;
    }
}

.carousel {
    height: 400px;
    position: relative;
    z-index: 1 !important;
}

.fixed-action-btn {
    cursor: pointer;
}

#servicios {
    margin-top: 10%;
}

.btnVenta {
    border: 1px solid #CFB379;
    background: transparent;
    color: #D09F23;
    height: 25px;
}
.separador{
    width: 30%;
}

.btnUnirme {
    width: 150px;
    height: 40px;
    background: #E1C07D;
    
    border: none;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bolder;
}

.inputUnirme {
    background: #807F80 !important;
    color: #fff !important;
    border: none !important;
    height: 40px !important;
}

.cdServ {
    display: inline-block;
    height: 400px;
    width: 100%;
    background-image: linear-gradient(#D8C48E, #BEA250 );
}


.cdServ span {
    font-weight: bolder;
    color: white;
}

.cdServ p {
    font-size: 16px;
    color: white;
}

iframe {
    width: 100%;
    height: 500px;
}
